* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 40px auto;
}

header {
    grid-column: 1 / 3;
    position: relative;
    background-color: #003153;
    color: whitesmoke;
}

header h1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 25px;
}

nav {
    grid-column: 1 / 2;
    background-color: #fafafa;
    border-right: 1px solid #e3e3ee;
    overflow: auto;
    padding-left: 5px;
}

.active-project {
    font-weight: bold;
}

main {
    grid-column: 2 / 3;
    overflow: auto;
}

#task-menu {
    padding: 50px;
}

#task-form {
    padding: 0px 0px 25px 25px;
}

.text-input {
    width: 200px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    outline: none;
}

.task label {
    display: flex;
    align-items: center;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height:  var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 50%;
}

[type="checkbox"]:checked + label .custom-checkbox {
    background-color: #00a460;
}

.task {
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-between;
}

.delete-project-button {
    padding: 5px;
    background-color: #CCCCCC;
    border: none;
}

.delete-project-button:hover {
    cursor: pointer;
    color: white;
    background-color: #FF0027;
}

nav button {
    margin: 10px 0px 10px 0px;
}